* {
  direction: rtl;
  box-sizing: border-box;
}

body {
  padding: 20px 40px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #caf0f8;
}

.header-text {
  text-align: center;
  color: #003049;
}

.navbar {
  margin: 40px 0;
}

h2 {
  font-size: 26px;
  text-align: center;
}

.navbar {
  text-align: center;
}

a {
  font-size: 24px;
  margin: 0 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form_content_labels {
  gap: 16px;

  display: flex;
  flex-direction: column;
  height: max-content;
  margin: 20px 0 40px 0;
}

.gender {
  display: flex;
}

.form_content_inputs {
  display: flex;
  flex-direction: column;
}

.labels_div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

label {
  display: flex;
  align-self: center;
  height: 36px;
  width: 90px;
  display: inline-block;
  font-weight: 700;
}

input[type="text"] {
  border: none;
  outline: none;
  border-radius: 8px;
  border-bottom: 1px solid #00000052;
  height: 36px;
  width: 220px;
  padding: 0px 12px;
  font-size: 14px;
  color: #000;
  margin: 0 0 12px 0;
  background-color: #fff;
}

textarea {
  border: none;
  outline: none;
  border-radius: 8px;
  border-bottom: 1px solid #00000052;
  width: 220px;
  height: 88px;
  padding: 0px 12px;
  font-size: 14px;
  color: #000;
  background-color: #fff;
}

select {
  height: 32px;
  width: 72px;
  display: flex;
}

.gender {
  display: flex;
  align-items: center;
}

.gender_male > label {
  width: 36px;
}

.gender_male > input[type="radio"] {
  margin: 0 0 0 20px;
}

.primary {
  background-color: #3a86ff;
  height: 40px;
  width: 120px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 15px;
}

.secondary {
    border: 2px solid #3a86ff;
    border-radius: 8px;
    color: #3a86ff;
    height: 40px;
    width: 120px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
}

.form_content_buttons {
    display: flex;
    gap: 16px;
}
